<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Profile </title>
  <style>
    body {
      background-color: #29a5c9;
    }

    .container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    .header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 20px;
    }

    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      list-style-type: none;

    }

    li {
      margin-left: 30px;
      color: white;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;

    }

    a {
      text-decoration: none;
      color: white;
    }

    .logo {
      height: 30px;
      width: 30px;
      border-radius: 20px;
      margin-top: 15px;
    }

    .sub1 {
      flex-grow: 3;
      margin-left: 20px;
    }

    .sub2 {
      flex-grow: 7;
    }

    .butt1,
    .butt2 {
      height: 40px;
      width: 120px;
      background-color: transparent;
      color: white;
      border: 3px solid;
      border-radius: 20px;
      font-size: 20px;
      font-weight: bold;
    }

    .butt2 {
      background-color: white;
      color: #29a5c9;
      font-size: 20px;
      font-weight: bold;
    }

    .butt1:hover {
      background-color: white;
      color: #29a5c9;
      font-size: 20px;
    }

    .butt2:hover {
      opacity: 0.8;
    }

    li:hover {
      opacity: 0.9;
      text-decoration: underline;
      text-underline-offset: 3px;
    }

    .section {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .sub3,
    .sub4 {
      width: 50%;
      height: 100%;
    }

    .sub3,
    .sub4 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .heading1,
    .heading2 {
      font-size: 80px;
      color: white;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      text-shadow: 2px 2px 2px black;
    }

    .heading2 {
      font-size: 20px;
      text-shadow: none;
      word-spacing: 6px;
      margin-left: 20px;
    }
    
    .image2 {
      box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
      width: 600px;
      border: 3px solid white;
      border-radius: 60px;
      height: 450px;
      margin-top: 50px;
    }

    .image3 {
      width: 300px;
      height: 500px;
      position: absolute;
      top: 15%;
    }

    .butt3 {
      width: 150px;
      height: 60px;
      border-radius: 30px;
    }

    input[type=email],
    input[type=password],
    input[type=number],
    input[type=text],
    input[type=file],
    textarea {
      font-size: x-large;
    }

    label {
      color: white;
      font-size: x-large;
      font-style: bold;
    }

    @media screen and (max-width: 480px) {
      body {
        color: #29a5c9;
      }

      .container {
        display: flex;
        flex-direction: column;
      }

      .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 20px;
      }

      .section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
      }

      .heading2 {
        font-size: 20px;
        width: 100%;
        height: 600px;
      }

      .image3 {
        position: absolute;
        top: 1175px;
        width: 200px;
        height: 300px;
      }

      .image2 {
        width: 300px;
        height: 200px;
      }
    }
  </style>
</head>

<body>
  <div class="container">
    <%- include('navbar.ejs') %>


      <div class="section">
        <div class="sub3">
          <h1 class="heading1">Profile</h1>
          <form action="update" method="post" enctype="multipart/form-data">
            <label> Profile Photo : </label>
            <input type="file" name="image" />  <br><br>

            <label> Name : </label>
            <input type="text" value="<%= data[0].name %>" id="name" placeholder="Name" name="up_name" required><br><br>

            <label> Qualification : </label>
            <input type="text" value="<%= data[0].qualification %>" id="qualification" placeholder="Qualification"
              name="up_qualification" required><br><br>

            <label> Achievements : </label>
            <input type="text" value="<%= data[0].achievements %>" id="achievements" placeholder="Achievements"
              name="up_achievements" required><br><br>


            <label> Certifications : </label>
            <input type="text" value="<%= data[0].certifications %>" id="certifications" placeholder="Certifications"
              name="up_certifications" required><br><br>

            <label> Mobile : </label>
            <input type="number" id="number" value="<%= data[0].mobile %>" placeholder="Mobile Number" name="up_mobile"
              min="999999999" max="9999999999" required><br><br>

            <label> Email : </label>
            <input type="email" id="email" placeholder="Email" value="<%= data[0].email %>" name="up_email"
              required><br><br>

            <label> Hobbies : </label>
            <textarea name="up_hobbies" style="width:285px"
              placeholder="Hobbies"> <%= data[0].hobbies %></textarea><br><br>

            <label> Skills : </label>
            <textarea name="up_skills" style="width:285px" placeholder="Skills"> <%= data[0].skills %></textarea><br><br>

            <label> Address : </label>
            <textarea name="up_address" style="width:285px"
              placeholder="Address"> <%= data[0].address %></textarea><br><br>
            <input type="submit" value="Update" class="butt1">
            <button formaction="change" style="width: auto;" class="butt2"> Change Password </button>
          </form>
        </div>
        <div class="sub4">
          <img class="image2" src="<%= data[0].image %>" alt="Image">
        </div>
      </div>
  </div>
</body>

</html>